<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Cs-JSF2.0-JUMPFlow</display-name>
  <servlet>
    <servlet-name>cheakUrlServlet</servlet-name>
    <servlet-class>
	com.jumpos.servlet.CheakUrlServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cheakUrlServlet</servlet-name>
    <url-pattern>/cheakUrlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkVMStateByUserAMF</servlet-name>
    <servlet-class>com.june.common.implemented.model.amf.CheckVMStateByUserAMF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkVMStateByUserAMF</servlet-name>
    <url-pattern>/CheckVMStateByUserAMF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>com.june.common.implemented.model.amf.TestAMF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/TestAMF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>run</servlet-name>
    <servlet-class>com.june.common.implemented.model.amf.RunAMF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>run</servlet-name>
    <url-pattern>/RunAMF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userDocument</servlet-name>
    <servlet-class>com.june.common.implemented.model.amf.UserDocumentationAMF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userDocument</servlet-name>
    <url-pattern>/UserDocumentationAMF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>exploit</servlet-name>
    <servlet-class>com.june.common.implemented.model.amf.ExploitAMF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exploit</servlet-name>
    <url-pattern>/ExploitAMF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>endExploit</servlet-name>
    <servlet-class>com.june.common.implemented.model.amf.EndExploitAMF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>endExploit</servlet-name>
    <url-pattern>/EndExploitAMF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Push Servlet</servlet-name>
    <servlet-class>org.primefaces.push.PushServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>Push Servlet</servlet-name>
    <url-pattern>/primepush/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Production</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Set Character Encoding Filter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding Filter</filter-name>
    <url-pattern>*.xhtml</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>
      com.june.implemented.common.util.ServerListener
    </listener-class>
  </listener>
</web-app>